@import url("https://fonts.googleapis.com/css?family=Roboto:400,100,700");
.img-responsive {
  display: inline-block;
}
body {
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
}
nav {
  position: absolute;
  z-index: 99;
  width: 100%;
  height: 3em;
  background-color: rgba(107,45,159,0.7);
  background-image: -webkit--webkit-linear-gradient(left, rgba(107,45,159,0.7) 10%, rgba(29,152,206,0.7) 55%);
  background-image: -webkit--moz-linear-gradient(left, rgba(107,45,159,0.7) 10%, rgba(29,152,206,0.7) 55%);
  background-image: -webkit--o-linear-gradient(left, rgba(107,45,159,0.7) 10%, rgba(29,152,206,0.7) 55%);
  background-image: -webkit--ms-linear-gradient(left, rgba(107,45,159,0.7) 10%, rgba(29,152,206,0.7) 55%);
  background-image: -webkit-linear-gradient(to right, rgba(107,45,159,0.7) 10%, rgba(29,152,206,0.7) 55%);
  background-image: -moz--webkit-linear-gradient(left, rgba(107,45,159,0.7) 10%, rgba(29,152,206,0.7) 55%);
  background-image: -moz--moz-linear-gradient(left, rgba(107,45,159,0.7) 10%, rgba(29,152,206,0.7) 55%);
  background-image: -moz--o-linear-gradient(left, rgba(107,45,159,0.7) 10%, rgba(29,152,206,0.7) 55%);
  background-image: -moz--ms-linear-gradient(left, rgba(107,45,159,0.7) 10%, rgba(29,152,206,0.7) 55%);
  background-image: -moz-linear-gradient(to right, rgba(107,45,159,0.7) 10%, rgba(29,152,206,0.7) 55%);
  background-image: -ms--webkit-linear-gradient(left, rgba(107,45,159,0.7) 10%, rgba(29,152,206,0.7) 55%);
  background-image: -ms--moz-linear-gradient(left, rgba(107,45,159,0.7) 10%, rgba(29,152,206,0.7) 55%);
  background-image: -ms--o-linear-gradient(left, rgba(107,45,159,0.7) 10%, rgba(29,152,206,0.7) 55%);
  background-image: -ms--ms-linear-gradient(left, rgba(107,45,159,0.7) 10%, rgba(29,152,206,0.7) 55%);
  background-image: -ms-linear-gradient(to right, rgba(107,45,159,0.7) 10%, rgba(29,152,206,0.7) 55%);
  background-image: -o--webkit-linear-gradient(left, rgba(107,45,159,0.7) 10%, rgba(29,152,206,0.7) 55%);
  background-image: -o--moz-linear-gradient(left, rgba(107,45,159,0.7) 10%, rgba(29,152,206,0.7) 55%);
  background-image: -o--o-linear-gradient(left, rgba(107,45,159,0.7) 10%, rgba(29,152,206,0.7) 55%);
  background-image: -o--ms-linear-gradient(left, rgba(107,45,159,0.7) 10%, rgba(29,152,206,0.7) 55%);
  background-image: -o-linear-gradient(to right, rgba(107,45,159,0.7) 10%, rgba(29,152,206,0.7) 55%);
  background-image: -webkit-linear-gradient(left, rgba(107,45,159,0.7) 10%, rgba(29,152,206,0.7) 55%);
  background-image: -moz-linear-gradient(left, rgba(107,45,159,0.7) 10%, rgba(29,152,206,0.7) 55%);
  background-image: -o-linear-gradient(left, rgba(107,45,159,0.7) 10%, rgba(29,152,206,0.7) 55%);
  background-image: -ms-linear-gradient(left, rgba(107,45,159,0.7) 10%, rgba(29,152,206,0.7) 55%);
  background-image: linear-gradient(to right, rgba(107,45,159,0.7) 10%, rgba(29,152,206,0.7) 55%);
}
nav .container {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  height: 100%;
}
nav .container .logo {
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  -o-box-flex: 2;
  -ms-box-flex: 2;
  box-flex: 2;
  -webkit-flex-grow: 2;
  flex-grow: 2;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
nav .container .logo img {
  height: 3em;
}
nav .container .menu {
  font-size: 2em;
  color: #fff;
  padding: 0.2em;
}
nav .container .hmenu ul {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  color: #fff;
  list-style: none;
}
nav .container .hmenu ul li {
  padding: 1em;
}
nav .container .hmenu ul li a {
  color: #fff;
}
.banner {
  background-image: url("../img/banner-fondo.jpg");
  height: 50vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center;
  padding-top: 3em;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  color: #fff;
  position: relative;
}
.banner:after {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  height: 100%;
  width: 100%;
}
.banner .container {
  z-index: 99;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  height: 100%;
}
.banner .container .title {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.banner .container .icons {
  padding-bottom: 1em;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.banner .container .icons-inroute {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
.banner .container .icons-inroute div {
  margin-left: 1em;
  margin-right: 1em;
  max-width: 10em;
  width: 4em;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.banner .container .icons-inroute div img {
  max-width: 3em;
}
.banner .container .icons-inroute div p {
  text-align: center;
}
.second-view {
  height: 30vh !important;
}
.gps-container .gps-msg p {
  text-align: center;
  font-size: 1.5em;
  padding-top: 2em;
  padding-bottom: 2em;
  font-style: italic;
  color: #8f8f8f;
}
.benefits {
  text-align: center;
}
.benefits div p {
  font-size: 2em;
}
.benefits div p span {
  font-size: 0.5em;
  color: #808080;
}
section {
  position: relative;
}
.telematic {
  padding-top: 4em;
  text-align: center;
}
.telematic p {
  text-align: center;
  font-size: 1.5em;
  padding-top: 2em;
  padding-bottom: 2em;
  font-style: italic;
  color: #8f8f8f;
}
.telematic .tomtom-img {
  max-width: 25em;
}
.telematic .row .features ul {
  list-style: none;
}
.telematic .row .features ul li img {
  max-width: 5em;
}
.video {
  background-color: #d3d3d3;
  height: 25em;
}
.opendrive {
  background-color: #00f;
  background-image: url("../img/opendrive-bg.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  height: 30em;
  color: #fff;
}
.opendrive .gradient {
  height: 100%;
  padding-top: 3em;
  padding-bottom: 3em;
  background-color: rgba(107,45,159,0.5);
  background-image: -webkit--webkit-linear-gradient(left, rgba(107,45,159,0.5) 20%, rgba(29,152,206,0.7) 85%);
  background-image: -webkit--moz-linear-gradient(left, rgba(107,45,159,0.5) 20%, rgba(29,152,206,0.7) 85%);
  background-image: -webkit--o-linear-gradient(left, rgba(107,45,159,0.5) 20%, rgba(29,152,206,0.7) 85%);
  background-image: -webkit--ms-linear-gradient(left, rgba(107,45,159,0.5) 20%, rgba(29,152,206,0.7) 85%);
  background-image: -webkit-linear-gradient(to right, rgba(107,45,159,0.5) 20%, rgba(29,152,206,0.7) 85%);
  background-image: -moz--webkit-linear-gradient(left, rgba(107,45,159,0.5) 20%, rgba(29,152,206,0.7) 85%);
  background-image: -moz--moz-linear-gradient(left, rgba(107,45,159,0.5) 20%, rgba(29,152,206,0.7) 85%);
  background-image: -moz--o-linear-gradient(left, rgba(107,45,159,0.5) 20%, rgba(29,152,206,0.7) 85%);
  background-image: -moz--ms-linear-gradient(left, rgba(107,45,159,0.5) 20%, rgba(29,152,206,0.7) 85%);
  background-image: -moz-linear-gradient(to right, rgba(107,45,159,0.5) 20%, rgba(29,152,206,0.7) 85%);
  background-image: -ms--webkit-linear-gradient(left, rgba(107,45,159,0.5) 20%, rgba(29,152,206,0.7) 85%);
  background-image: -ms--moz-linear-gradient(left, rgba(107,45,159,0.5) 20%, rgba(29,152,206,0.7) 85%);
  background-image: -ms--o-linear-gradient(left, rgba(107,45,159,0.5) 20%, rgba(29,152,206,0.7) 85%);
  background-image: -ms--ms-linear-gradient(left, rgba(107,45,159,0.5) 20%, rgba(29,152,206,0.7) 85%);
  background-image: -ms-linear-gradient(to right, rgba(107,45,159,0.5) 20%, rgba(29,152,206,0.7) 85%);
  background-image: -o--webkit-linear-gradient(left, rgba(107,45,159,0.5) 20%, rgba(29,152,206,0.7) 85%);
  background-image: -o--moz-linear-gradient(left, rgba(107,45,159,0.5) 20%, rgba(29,152,206,0.7) 85%);
  background-image: -o--o-linear-gradient(left, rgba(107,45,159,0.5) 20%, rgba(29,152,206,0.7) 85%);
  background-image: -o--ms-linear-gradient(left, rgba(107,45,159,0.5) 20%, rgba(29,152,206,0.7) 85%);
  background-image: -o-linear-gradient(to right, rgba(107,45,159,0.5) 20%, rgba(29,152,206,0.7) 85%);
  background-image: -webkit-linear-gradient(left, rgba(107,45,159,0.5) 20%, rgba(29,152,206,0.7) 85%);
  background-image: -moz-linear-gradient(left, rgba(107,45,159,0.5) 20%, rgba(29,152,206,0.7) 85%);
  background-image: -o-linear-gradient(left, rgba(107,45,159,0.5) 20%, rgba(29,152,206,0.7) 85%);
  background-image: -ms-linear-gradient(left, rgba(107,45,159,0.5) 20%, rgba(29,152,206,0.7) 85%);
  background-image: linear-gradient(to right, rgba(107,45,159,0.5) 20%, rgba(29,152,206,0.7) 85%);
}
.opendrive .gradient p.title {
  color: #fff;
  text-align: center;
  font-size: 1.7em;
}
.opendrive .gradient .opendrive-logo {
  max-width: 12em;
}
.feature {
  width: 5em;
}
.subtitle {
  font-size: 1.7em;
}
.developer {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
}
.developer .developer-features .developer-img {
  max-width: 25em;
}
.form {
  margin-top: 4em;
  margin-bottom: 4em;
}
.form p {
  text-align: center;
}
.form h3 {
  text-align: center;
}
footer {
  background-image: url("../img/fondofooter.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  color: #fff;
}
footer text-align center .logo {
  width: 10em;
}
.row {
  margin-top: 5em;
  margin-bottom: 5em;
  text-align: center;
}
@media (max-width: 768px) {
  .opendrive {
    height: 75em;
  }
  .telematic .row .features {
    margin-top: 5em;
  }
}
@media (min-width: 768px) {
  nav {
    height: 6em;
  }
  nav .container .logo {
    -webkit-box-flex: 2;
    -moz-box-flex: 2;
    -o-box-flex: 2;
    -ms-box-flex: 2;
    box-flex: 2;
    -webkit-flex-grow: 2;
    flex-grow: 2;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-pack: start;
    -moz-box-pack: start;
    -o-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }
  nav .container .logo img {
    height: 4em;
  }
  .banner {
    padding-top: 6em;
    height: 80vh;
  }
  .banner .container .icons {
    padding-bottom: 7em;
  }
  .banner .container .icons-inroute div {
    width: 10em;
  }
  .telematic .tomtom-img .features ul,
  .telematic .row .features ul {
    list-style: none;
  }
  .telematic .tomtom-img .features ul li,
  .telematic .row .features ul li {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .telematic .tomtom-img .features ul li img,
  .telematic .row .features ul li img {
    margin-right: 1em;
    max-width: 5em;
  }
  .opendrive {
    height: 40em;
  }
}
@media (min-width: 992px) {
  section.gps-container {
    height: 25em;
    position: relative;
  }
  section.gps-container .gps {
    position: absolute;
    top: -10em;
    width: 50%;
  }
  section.gps-container .gps img {
    max-width: 35em;
  }
  section.gps-container .gps-msg {
    position: absolute;
    width: 50%;
    right: 0;
  }
  .developer .developer-features .developer-text {
    text-align: left;
  }
}
@media (min-width: 1200px) {
  section.gps-container .gps img {
    max-width: 45em;
  }
  section.container.form .row .form-groups input {
    padding: 8px 120px;
    margin: 5px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 0.5em;
    border-radius: 0.5em;
  }
  section.container.form .row .form-groups textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 8px 80px;
    margin-bottom: 0.5em;
    float: right;
  }
  section.container.form .row .form-groups button {
    float: right;
  }
}
