html
	head
		title InRoute
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, user-scalable=no")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
		link(href="css/index.css" rel="stylesheet")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")

	body
		include nav.jade
		div.banner.second-view
			div.container
				div.title
					h1 Beneficios
					p.lead Inrout tiene una solución para tu flotilla.
		
		section.container
			div.row.benefits
				div.col-xs-6.col-sm-2.col-sm-offset-1
					p Seguridad
						br
						span de los conductores
					img.img-responsive(src="img/seguridad.svg")
				div.col-xs-6.col-sm-2
					p Ahorro
						br
						span de fondos
					img.img-responsive(src="img/Ahorro(icono).svg")
				div.col-xs-6.col-sm-2
					p Localización
						br
						span de vehículos
					img.img-responsive(src="img/localización(icono).svg")
				div.col-xs-6.col-sm-2
					p Informes
						br
						span de gestión
					img.img-responsive(src="img/informes(icono).svg")
				div.col-xs-6.col-sm-2
					p Integración
						br
						span de elementos
					img.img-responsive(src="img/Integración(icono).svg")
		section.container.telematic
			img.tomtom-img(src="img/logo-tomtom.png")
			p TomTom Telematics es la unidad de negocio dedicada a las soluciones de administración de flotillas, telemática para vehículos y sevicios para el vehículo conectado.
			div.row
				div.col-md-6.video
				div.col-md-6.features
					ul
						li 
							img(src="img/mantenimiento.svg")
							p Mantenimietos preventivos de sus unidades
						li 
							img(src="img/informes.svg")
							p Informes de desempeño y rendimiento
						li 
							img(src="img/tareas.svg")
							p Asignación de tareas
						

		section.opendrive
			div.gradient
				div.container
					p.title Mejore continuamente el rendimiento de su flota al gestionar de forma activa el comportamiento de los conductores
						br
						br

						div.information.row.text-center
							div.col-sm-6.text-center
								img.opendrive-logo(src="img/optidrivelogo.svg")
								p.subtitle Juntos mejoramos el estilo de conducción
							div.col-sm-2
								img.feature(src="img/infoprevia.svg")
								p Información previa
							div.col-sm-2
								img.feature(src="img/infoviaje.svg")
								p Información durante el viaje
							div.col-sm-2
								img.feature(src="img/infopostviaje.svg")
								p Información post-viaje
								button.btn.btn-success(type='submit') Ver más


		section.container.developer 
			h3 A la medida de tus necesidades
			div.row
				div.col-sm-6.developer-features
					h3.developer-text Lorem ipsum
					p.developer-text Duis tristique ex finibus rutrum rutrum. Sed suscipit mauris lacus, et fringilla eros pellentesque a. Duis lobortis sed ipsum eu condimentum. Phasellus elementum tristique nisl ac pellentesque.
				div.col-sm-6.developer-features
					img.img-responsive(src="img/image004.png")
			div.row
				div.col-sm-6.developer-features
					h3.developer-text Lorem ipsum
					p.developer-text Duis tristique ex finibus rutrum rutrum. Sed suscipit mauris lacus, et fringilla eros pellentesque a. Duis lobortis sed ipsum eu condimentum. Phasellus elementum tristique nisl ac pellentesque
				div.col-sm-6.developer-features
					img.img-responsive(src="img/image002.png")
					

		section.container.form
			h3 Contáctanos te daremos más detalles
			div.row.group
				div.col-sm-6
					div.form-group
						input.form-control(type='text', placeholder='Nombre completo')
					div.form-group
						input.form-control(type='text', placeholder='Compañía')
					div.form-group
						input.form-control(type='text', placeholder='Ubicación')
				div.col-sm-6
					div.form-group
						textarea.form-control(name='comment' placeholder='Su mensaje', cols=33 rows=4)
					div.form-group
						div.col-sm-offset-2.col-sm-10
							button.btn.btn-success(type='submit') Enviar

		footer.inroute
			div.container
				div.row
					div.col-sm-3
						img.img-responsive(src="img/inroute(blanco).svg")
						p Un producto de Adsum
						p Email:info@adsum.com.mx Tel(667)7161787 / 7121639

					div.col-sm-6
						p lorem ipsum 
					div.col-sm-3
						img.img-responsive(src="img/silver.png")
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tristique mauris.
				div.row
					div.col-sm-12
						p inroute powered by Adsum Software experiencie Copyright 2016 . Aviso de privacidad  Designe in Proyeccione










