html
	head
		title InRoute
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, user-scalable=no")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
		link(href="css/index.css" rel="stylesheet")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")

	body
		include nav.jade
		div.banner.second-view
			div.container
				div.title
					h1 Beneficios
					p.lead Inrout tiene una solución para tu flotilla.
		
		section.container.benefits-section
			div.row		
				div.col-sm-4
					h3 Más control
					ul
						li Sepa siempre dónde se encuentran sus vehículos y empleados: obtenga información sobre el tiempo de conduccón, comportamiento, tiempo en el emplazamiento, paradas y horas de trabajo.
						li Sea transparente y consiga que sus conductores sean más responsables.
				div.col-sm-4
					h3 Menos costes
					ul
						li Reduzca los cstes de combustible, mantenimiento y seguros
						li Los conductores serán más cuidadosos al utilizar el vehículo
				div.col-sm-4
					h3 Más tiempo facturable
					ul
						li Mejore el uso que hace de su tiempo con herramientas automatizadas como el diario de a bordo y el registro de las horas de trabajo
						li Envío del conductor más cercano a los eventos nuevos
						li Utilice el navegador PRO de TomTom para llegar antes a su destino evitando atascos y ahorrando tiempo que podría emplear en buscar la dirección correcta.
		section.container.benefits-icons
			div.row
				div.col-xs-6.col-sm-4.col-md-2.col-md-offset-1
					img(src="../img/seguridad_benefits.svg")
					h5 SEGURIDAD
				div.col-xs-6.col-sm-4.col-md-2
					img(src="../img/informes_benefits.svg")
					h5 INFORMES DE DESEMPEÑO
				div.col-xs-6.col-sm-4.col-md-2
					img(src="../img/rastreo_benefits.svg")
					h5 RASTREO VEHICULAR
			
				div.col-xs-6.col-sm-4.col-md-2
					img(src="../img/alerta_benefits.svg")
					h5 ALERTAS
				div.col-xs-6.col-sm-4.col-md-2
					img(src="../img/tiempo_benefits.svg")
					h5 MENOS TIEMPO
			div.row
				div.col-xs-6.col-sm-4.col-md-2.col-md-offset-1
					img(src="../img/tareas_benefits.svg")
					h5 ASIGNACIÓN DE TAREAS
			
				div.col-xs-6.col-sm-4.col-md-2
					img(src="../img/integración_benefits.svg")
					h5 INTEGRACIÓN
				div.col-xs-6.col-sm-4.col-md-2
					img(src="../img/combustible_benefits.svg")
					h5 AHORRO DE COMBUSTIBLE
				div.col-xs-6.col-sm-4.col-md-2
					img(src="../img/navegación_benefits.svg")
					h5 NAVEGACIÓN
			
				div.col-xs-6.col-sm-4.col-md-2
					img(src="../img/mantenimiento_benefits.svg")
					h5 MANTENIMIENTOS PREVENTIVOS




	
		footer.inroute
			div.container
				div.row
					div.col-sm-3
						img.img-responsive(src="img/inroute(blanco).svg")
						p Un producto de Adsum
						p Email:info@adsum.com.mx Tel(667)7161787 / 7121639

					div.col-sm-6
						p lorem ipsum 
					div.col-sm-3
						img.img-responsive(src="img/silver.png")
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tristique mauris.
				div.row
					div.col-sm-12
						p inroute powered by Adsum Software experiencie Copyright 2016 . Aviso de privacidad  Designe in Proyeccione










