html
	head
		title InRoute
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, user-scalable=no")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
		link(href="css/index.css" rel="stylesheet")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")

	body
		include nav.jade
		div.banner.second-view
			div.container
				div.title
					h1 ¿Cómo funciona?
					p.lead Inrout tiene una solución para su flotilla.

		section.container.function-section
			div.row
				div.col-sm-6
					h3 El sistema de gestión de flotillas WebFleet® destaca por su sencillez
				div.col-sm-1
					h2 01
				div.col-sm-5
					p Con la asesoría especializada de Netkom defina las necesidades específicas de su empresa y elija la combinación de dispositivos y programas adecuados:
			div.row
				div.col-sm-4
					img(src="img/tomtom-530.png")
					h4 TomTom LINK 530
					p Dispositivo de seguimiento y localización de vehículos.
					p Los dispositivos de seguimiento de vehículos TomTom LINK le darán una perspectiva en tiempo real e histórica sobre cuando, dónde y cómo se están utilizando sus vehículos.
				div.col-sm-4
					img(src="img/tomtom-105.png")
					h4 TomTom LINK 105
					p Dispositivo de consumo de combustible y emisiones.
					p Dispositivo de telemática que le ayuda a mejorar el consumo de combustible, a reducir las emisiones de carbono de su flota y a garantizar la seguridad de sus vehículos en la carretera.
				div.col-sm-4
					img(src="img/tomtom-7250.png")
					h4 TomTom PRO 7250
					p Dispositivo de navegación, gestión y comunicación para conductores.
					p Ha sido diseñado para permitir que los conductores que trabajen de un modo más inteligente permitiendo en un solo equipo:
					ul
						li Acceder a mapas de navegación y rutas optimas.
						li Gestionar ordenes de trabajo.
						li Asignar ordenes de reparto en función de tiempo, distancia y consumo de recursos.
						li Consultar tráfico y vías alternas más rápidas.
						li Intercambiar mensajes.
						li Generar reportes de desempeño.
			div.row
				div.col-sm-1
					h2 02
				div.col-sm-5
					p Una vez seleccionados los dispositivos, ingrese a WebFleet®, nuestra aplicación On Line donde podrá conectarse con los dispositivos de sus vehículos y empezar a generar y obtener información valiosa. Expanda los beneficios de WebFleet® con WebFleet® Mobile, para ver y controlar su flotilla en cualquier momento y lugar con su smartphone.
				div.col-sm-1
					h2 03
				div.col-sm-5
					p Obtenga una experiencia y efectividad total con OptiDrive® 360.
			div.row
				div.col-sm-12
					h3 OptiDrive® 360
					p Plataforma adicional para gestionar la conducción de choferes.
					p OptiDrive® 360 proporciona valiosa información tanto al administrador de flotas como al conductor, facilitando información directa a los conductores, antes, durante y tras el viaje. Un estilo de conducción responsable contribuye a ahorrar en combustible, en mantenimiento, en primas de seguros y alarga la vida de las unidades, reduciendo así los costes totales de propiedad del vehículo.
	footer.inroute
				div.container
					div.row
						div.col-sm-3
							img.img-responsive(src="img/inroute(blanco).svg")
							p Un producto de Adsum
							p Email:info@adsum.com.mx Tel(667)7161787 / 7121639

						div.col-sm-3
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tristique mauris.
						div.col-sm-3
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tristique mauris.
						div.col-sm-3
							img.img-responsive(src="img/silver.png")
					div.row
						div.col-sm-12
							p inroute powered by Adsum Software experiencie Copyright 2016 . Aviso de privacidad  Designe in Proyeccione









	









