html
	head
		title InRoute
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, user-scalable=no")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
		link(href="css/index.css" rel="stylesheet")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
	body
		nav
			div.container
				div.menu.visible-xs
					i.fa.fa-bars(aria-hidden="true")
				div.logo
					img(src="img/inroute.svg")
				div.hmenu.hidden-xs
					ul
						li menu 1
						li menu 1
						li menu 1
						li menu 1
		div.banner
			div.container
				div.title
					h1 No importa el tipo de vehiculo
					p.lead Inrout tiene una solución para tu flotilla.
				div.icons
					div.icons-inroute
						div
							img(src="img/van.svg")
							p Servicio y mantenimiento
						div
							img(src="img/van.svg")
						div
							img(src="img/van.svg")
						div
							img(src="img/van.svg")
		section.container.gpss
			div.gps
				img.img-responsive(src="img/tom-tom-device.png")
			div.gps-msg msg
		section.container
			div.row
				div.col-xs-6.col-sm-2.col-sm-offset-1
					img.img-responsive(src="img/seguridad.svg")
				div.col-xs-6.col-sm-2
					img.img-responsive(src="img/seguridad.svg")
				div.col-xs-6.col-sm-2
					img.img-responsive(src="img/seguridad.svg")
				div.col-xs-6.col-sm-2
					img.img-responsive(src="img/seguridad.svg")
				div.col-xs-6.col-sm-2
					img.img-responsive(src="img/seguridad.svg")
		section.container.telematic
			p texto
			div.row
				div.col-md-6 6
				div.col-md-6
					ul
						li 1
						li 1
						li 1
						

		section.container.opendrive open drive
		section.container.developer developer
		footer.inroute footer








