html
	head
		title InRoute
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, user-scalable=no")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
		link(href="css/index.css" rel="stylesheet")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
	body
		nav
			div.container
				div.menu.visible-xs
					i.fa.fa-bars(aria-hidden="true")
				div.logo
					img(src="img/inroute.svg")
				div.hmenu.hidden-xs
					ul
						li Inicio
						li Soluciones
						li Telematic
						li OptiDrive
						li Contacto
		div.banner
			div.container
				div.title
					h1 No importa el tipo de vehiculo
					p.lead Inrout tiene una solución para tu flotilla.
				div.icons
					div.icons-inroute
						div
							img(src="img/auto.svg")
							p Automóviles
						div
							img(src="img/trailer2.svg")
							p Autobuses
						div
							img(src="img/van.svg")
							p Motocicletas
						div
							img(src="img/transporte.svg")
							p cajas
		section.container.gps-container
			div.gps.text-center
				img.img-responsive(src="img/tom-tom-device.png")
			div.gps-msg 
				p Una forma eficaz  e intuitiva de gestionar la flota de vehículos de su compañía de manera sencilla
		section.container
			div.row.benefits
				div.col-xs-6.col-sm-2.col-sm-offset-1
					p Seguridad
						br
						span de los conductores
					img.img-responsive(src="img/seguridad.svg")
				div.col-xs-6.col-sm-2
					p Ahorro
						br
						span de fondos
					img.img-responsive(src="img/Ahorro(icono).svg")
				div.col-xs-6.col-sm-2
					p Localización
						br
						span de vehículos
					img.img-responsive(src="img/localización(icono).svg")
				div.col-xs-6.col-sm-2
					p Informes
						br
						span de gestión
					img.img-responsive(src="img/informes(icono).svg")
				div.col-xs-6.col-sm-2
					p Integración
						br
						span de elementos
					img.img-responsive(src="img/Integración(icono).svg")
		section.container.telematic
			img.tomtom-img(src="img/logo-tomtom.png")
			p TomTom Telematics es la unidad de negocio dedicada a las soluciones de administración de flotillas, telemática para vehículos y sevicios para el vehículo conectado.
			div.row
				div.col-md-6.video
				div.col-md-6.features
					ul
						li 
							img(src="img/mantenimiento.svg")
							p Mantenimietos preventivos de sus unidades
						li 
							img(src="img/informes.svg")
							p Informes de desempeño y rendimiento
						li 
							img(src="img/tareas.svg")
							p Asignación de tareas
						

		section.opendrive
			div.gradient
				div.container
					p.title Mejore continuamente el rendimiento de su flota al gestionar de forma activa el comportamiento de los conductores
						br
						br

						div.information.row.text-center
							div.col-sm-6.text-center
								img.opendrive-logo(src="img/optidrivelogo.svg")
								p.subtitle Juntos mejoramos el estilo de conducción
							div.col-sm-2
								img.feature(src="img/infoprevia.svg")
								p Información previa
							div.col-sm-2
								img.feature(src="img/infoviaje.svg")
								p Información durante el viaje
							div.col-sm-2
								img.feature(src="img/infopostviaje.svg")
								p Información post-viaje


		section.container.developer developer
		footer.inroute
			div.container
				div.row
					div.col-sm-3
						img.logo(src="img/inroute.svg")
						p Un producto de Adsum
					div.col-sm-7
					div.col-sm-3









