$screen-xs-max = 768px
$screen-sm-min = 768px
$screen-md-min = 992px
$screen-lg-min = 1200px

$nav-height-lg = 6em
// 
/* Small device (Smartphones, 768px less) */
@media(max-width: $screen-xs-max)
	.banner
		.title
			h1 
				font-size 2em
	.opendrive
		height 75em
	.telematic
		.tomtom-img
			width 20em
		.row
			.features
				margin-top 5em


/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min)
	nav 
		height $nav-height-lg
		.container
			.logo
				flex-grow 2
				display flex
				justify-content flex-start
				img
					height 4em
	.banner
		padding-top $nav-height-lg
		height 80vh
		.container
			.icons
				padding-bottom 7em
				&-inroute
					div
						width 10em
	.telematic

		.tomtom-img

		.row
			.features
				ul
					list-style none
					li 
						display flex
						align-items center
						
						img
							margin-right 1em
							max-width 5em
	.opendrive
		height 40em
	
				

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min)
	section.gps-container
		height 25em
		position relative
		.gps
			position absolute
			top -10em
			width 50%
			
			img
				max-width 35em
		.gps-msg
			position absolute
			width 50%
			right 0
	.developer
		.developer-features
			.developer-text
				text-align left
				

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min)
	.banner
			.title
				h1 
					font-size 5em
	section.gps-container
			.gps
				img
					max-width 45em
	section.container.form		
		.row
			.form-groups
				input
					padding 8px 120px
					margin 5px 0
					box-sizing border-box
					border-radius .5em
				textarea
					box-sizing border-box
					padding 8px 80px
					margin-bottom .5em
					float right
				button
					float right
			


