nav
	div.container
		div.menu.visible-xs
			i.fa.fa-bars(aria-hidden="true")
		div.logo
			img(src="img/inroute(blanco).svg")
		div.hmenu.hidden-xs
			ul
				li 
					a(href="index.html") Inicio
				li 
					a(href="benefits.html") Beneficios
				li 
					a(href="sectors.html") Sectores
				li 
					a(href="function.html") ¿Cómo funciona?
				li Contacto