html
	head
		title InRoute
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, user-scalable=no")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
		link(href="css/index.css" rel="stylesheet")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")

	body
		include nav.jade
		div.banner.second-view
			div.container
				div.title
					h1 Sectores
					p.lead Inrout tiene una solución para tu flotilla.

		section.container.sectors-section
			div.row
				div.col-sm-12
					h4 Independientemente del sector al que pertenezca, puede mejorar el rendimiento de su empresa con  nuestras soluciones personalizadas de gestión de flotas
		
			div.row
				div.col-sm-4
					img(src="img/industries.service-maintenance.eu.jpg")
					h4 Servicio y mantenimiento
					ul
						li Puntualidad para enorgullecerse
						li Aumente el tiempo que puede facturar
						li Conducción placentera y aumento de la motivación
				div.col-sm-4
					img(src="img/industries.long-haulage.eu.jpg")
					h4 Transporte de larga distancia
					ul 
						li Seguimiento horas de trabajo del mación y del conductor
						li conocimiento si usa carretera libre o cuota
				div.col-sm-4
					img(src="img/industries.courier-express.eu.jpg")
					h4 Servicios de mensajería/mensajería urgente
					ul
						li Entrega siempre a tiempo
						li Servicio más competitivo
						li Mensajeros en continuo desplazamiento
			div.row
				div.col-sm-4
					img(src="img/industries.people-transport.eu.jpg")
					h4 Transporte de pasajeros
					ul
						li Reducción de retrasos para los pasajeros
						li Minimización de los gastos
				div.col-sm-4
					img(src="img/industries.utilities.eu.jpg")
					h4 Servicios básicos
					ul
						li Mayor rápidez que nunca de suministro a los clientes
						li Grandes ahorros en los costes diarios
						li Prueba de la seguridad, la fiabilidad y las credenciales ecológicas
				div.col-sm-4
					img(src="img/industries.health-care.eu.jpg")
					h4 Asistencia sanitaria
					ul
						li Pruebas de asistencia simplificadas
						li Reducción de gastos fijos
						li Ayuda más eficiente para los asistentes sanitarios
			div.row
				div.col-sm-4
					img(src="img/industries.emergency.eu.jpg")
					h4 Servicios de emergencia
					ul
						li Responda más rápidamente a los incidentes
						li  Aumente la seguridad del personal de servicios de emergencias 
						li Flotas m;as rentables
				div.col-sm-4
					img(src="img/industries.sales-fleet.eu.jpg")
					h4 Flota comercial
					ul
						li Informes de rendimiento en tiempi real
						li Bajo costes 
						li Cálculo de kilometraje sujeto a impuestos
				div.col-sm-4
					img(src="img/industries.insurance-telematics.eu.jpg")
					h4 Seguros telemáticos
					ul
						li Destacado
						li Ventajas
						li Porqué colaborar
						li Particulares
						li Empresas
						li Productos
		footer.inroute
			div.container
				div.row
					div.col-sm-3
						img.img-responsive(src="img/inroute(blanco).svg")
						p Un producto de Adsum
						p Email:info@adsum.com.mx Tel(667)7161787 / 7121639

					div.col-sm-6
						p lorem ipsum 
					div.col-sm-3
						img.img-responsive(src="img/silver.png")
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tristique mauris.
				div.row
					div.col-sm-12
						p inroute powered by Adsum Software experiencie Copyright 2016 . Aviso de privacidad  Designe in Proyeccione







			


	









